/* Add CSS styling here */

/* CSS RESTART START*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
/*CSS RESTART END*/

/***GLOBAL START****/
body {
  font-family: "roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url("/img/sitebcg1.jpg") no-repeat center fixed;
  background-size: cover;
}

section {
  padding: 6rem 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
/***GLOBAL END****/

/*HEADER START*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: row nowrap;
  padding: 15px;
  height: 50px;
}

.header-container h2 {
  padding: 5px;
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  color: #fff;
}

.header-container nav a {
  font-size: 1.3rem;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

nav.top-nav a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  content: "";
  background: #fff;
  opacity: 0.3;
  transition: all 0.3s;
}

nav.top-nav a:hover:before {
  height: 100%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-div h1 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 35px;
  text-transform: uppercase;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.main-div button {
  background: #5c5598;
  border: none;
  padding: 10px 12px;
  border-radius: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 800;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-div button:hover {
  background: #4a457a;
  box-shadow: none;
}

/*HEADER END*/

/*GALLERY START*/
#gallery {
  background-color: rgba(0, 0, 0, 0.05);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-item {
  flex: 0 32%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flex-image {
  width: 500px;
  padding: 10px;
}

.flex-details {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0 20px 0;
  color: #fff;
}

.flex-container div img {
  height: 400px;
  object-fit: cover;
}
/*GALLERY END*/

/*Contact Start*/
#contact {
  padding-bottom: 3.5rem;
}

.contact-container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.section-heading h2 {
  font-size: 2rem;
  color: #fff;
  position: relative;
  margin-bottom: 2rem;
}

.section-heading button {
  background: #5c5598;
  border: none;
  padding: 10px 12px;
  border-radius: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-heading button:hover {
  background: #4a457a;
  box-shadow: none;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  font-size: 2rem;
  color: #fff;
  padding: 8px;
}
/*Contact End*/

/*Footer Start*/
.copyright {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
  position: relative;
}
/*Footer End*/
